/*--- fonts ---*/
@font-face {
   font-family: "Gilroy-bold";
   src: url("../media/fonts/Gilroy-Bold.woff");
}
@font-face {
   font-family: "Gilroy-medium";
   src: url("../media/fonts/Gilroy-Medium.woff");
}
@font-face {
   font-family: "Gilroy-regular";
   src: url("../media/fonts/Gilroy-Regular.woff");
}

/*--- global variables ---*/

:root {
   --main-primary1: #00196c;
   --main-primary2: #bf0b30;
   --main-primary3: #ffa114;
   --main-primary4: #ffffff;
   --main-secondary1: #f2f5ff;
   --main-secondary2: #f4f4f4;
   --main-secondary3: #272727;
   --text-primary1: #00196c;
   --text-primary2: #1b1b1b;
   --text-primary3: #707070;
   --text-primary4: #ffffff;
   --text-secondary1: #ffa114;
   --text-secondary2: #bf0b30;
   --text-secondary3: #c4c4c4;
   --font-main: 24px;
   --font-buttons: 19px;
   --font-headings: 36px;
   --font-17: 17px;
}

/*--- defaults ---*/

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   /* didn't add border-box */
}
.fade {
   opacity: 0;
   height: 0;
}
a {
   display: inline-block;
   text-decoration: none;
}
.initial {
   color: initial;
   font-size: initial;
}
.small-result {
   font-size: 24px;
   color: var(--text-primary1);
}
.container-lg {
   min-height: 93vh !important;
}
/*--- classes ---*/

body,
html {
   height: 100%;
   font-family: "Gilroy-bold";
   color: var(--text-primary1);
   scroll-behavior: smooth;
}
body {
   background: var(--main-secondary2)
      url("../media/images/wealthsurance_bg.png") center center scroll;
   background-size: cover;
   overflow-x: hidden;
}

/* splash screen */
.splash-screen {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   /* background-color: black; */
   background-color: #E5E5E5;
   /* background-color: white; */
   z-index: 20;
}

.splash-screen {
   display: grid;
   place-items: center;
}
.splash-screen img{
   margin-bottom: 5%;
}

/*--- container ---*/
.container {
   overflow: hidden;
   /* max-width: 90%; */
   /* padding: 1.1% 0; */
   max-width: 1300px;
   margin: 0 auto;
   padding: 0 1.5em;
}

/* --- navigation --- */

nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   max-width: 90%;
   height: 60px;
   margin: 0 auto;
   margin-top: 13px;
}

.brand {
   display: flex;
   align-items: center;
   cursor: pointer;
}
.brand-image {
   width: 40px;
   margin-right: 10px;
}
.brand-text {
   font-size: 24.74px;
}
.navigation a {
   font-family: "Gilroy-medium";
   font-size: var(--font-17); /*-1*/
   padding: 10px 12px;
   margin: 10px 12px;
   color: var(--text-primary1);
}
.dropdown-arrow img {
   display: inline-block;
   width: 13px;
   margin: 1px 4px;
   transition: 0.2s ease all;
}
.hamburger {
   background: url("../media/images/hamburger.svg") no-repeat center;
   background-size: 100%;
   display: inline-block;
   width: 21px;
   height: 25px;
   display: none;
   cursor: pointer;
}
.red-btn {
   display: inline-block;
   background-color: var(--main-primary2);
   color: var(--text-primary4);
   font-size: var(--font-buttons); /*-1*/
   border: none;
   padding: 10px 30px;
   margin-left: 10px;
   border-radius: 4px;
   cursor: pointer;

   /* prevent selection */
   user-select: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -khtml-user-select: none;
   -ms-user-select: none;
}

.red-btn:hover {
   background-color: #ad092a;
   /* background-color: #A80023; */
}

.content-container {
   /* padding: 2em 2em 1em 2em; */
   padding: 2em 0em 1em 0em;
   /* @media */
   text-align: center;
   min-height: 83vh;
   font-size: var(--font-main);
   /* background-color: var(--text-primary3); */
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   justify-content: space-between;
   position: relative;
}

.page-heading {
   font-size: var(--font-headings);
   margin-top: 2%;
}
.share-btn-grp {
   top: 66px;
   right: 72px;
   position: absolute;
   display: inline-block;
}
.share-btn-grp2 {
   margin-top: 1em;
   display: none;
}
.share-btns {
   background: url("../media/images/hamburger.png") no-repeat center;
   background-size: 100%;
   display: inline-block;
   width: 27px;
   height: 25px;
   cursor: pointer;
}
.mail {
   background-image: url("../media/images/mail.svg");
}
.share {
   background-image: url("../media/images/share.svg");
   margin: 0 0.5em;
}
.download {
   background-image: url("../media/images/download.svg");
}
.print {
   background-image: url("../media/images/print.svg");
   margin-left: 0.5em;
}
.btn-group {
   margin-bottom: 4%;
}
.next-btn {
   padding: 9px 49px;
}
.prev-btn {
   border: 2px solid var(--main-primary2);
   padding: 8px 33px;
   background-color: transparent;
   color: var(--main-primary2);
}
.prev-btn:hover {
   background-color: rgba(255, 255, 255, 0.705);
}

/* .loader{
} */
.input-fields {
   line-height: 63px;
   display: block;
   margin: 0.4em auto 1.9em auto;
   /* display: flex;
   flex-flow: column nowrap;
   align-items: center; */
}
input,
select {
   box-sizing: border-box;
   font-family: "Gilroy-medium";
   border-radius: 4px;
   padding: 10px 3px;
   padding-left: 13px;
   margin: 0 10px;
   border: none;
   position: relative;
   /* outline: none; */
   /* border: 0.1px solid black; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   /* display: none; <- Crashes Chrome on hover */
   -webkit-appearance: none;
   margin: 0;
}

input[type="number"] {
   -moz-appearance: textfield; /* Firefox */
}

/* input:focus {
   border: 1px solid var(--text-primary1);
} */
::placeholder {
   font-size: 14px;
   color: var(--text-secondary3);
}
select {
   width: initial;
   padding: 10px 31px 10px 11px !important;
}
option {
   border: none;
}

/* @change */
.loader {
   width: 120%;
   margin: 6% 0 7% -9.5%;
   background-color: white;
   height: 12px;
   border-radius: 24px;
}
.progress-bar {
   width: 0; /*initialisation to be done in js*/
   background-color: var(--main-primary3);
   height: 12px;
   border-radius: 24px;
   position: relative;
}

.progress-percentage {
   display: inline-block;
   font-size: 0.35em;
   padding: 10px 5px 1px 6px;
   width: 22px;
   height: 22px;
   background-color: var(--main-primary3);
   border-radius: 50%;
   z-index: 10;
   position: absolute;
   left: 95%;
   top: -84%;

   display: none;
   /* opacity: 0; */
}

.table {
   font-size: 0.9em;
   /* margin: 1% 0 -0.5% 0; */
   overflow-x: auto;
   display: none;
}

table {
   position: relative;
   /* need to center?? use margins when flex/grid casues bugs */
   width: 900px;
   padding: 1.3em 0;
   margin: 0 auto;
}
@media screen and (max-width: 920px) {
   table {
      margin: auto;
   }
}

.calculated-result {
   font-size: 54px;
   color: var(--text-secondary1);
   margin-top: 8%;
   transform: translateY(70%);
   transition: 0.95s ease transform;
   opacity: 0;
}

.small {
   font-size: var(--font-17);
   color: var(--text-primary2);
   font-family: "Gilroy-medium";
}

.schedule-call .small {
   margin-bottom: 8%;
}
.schedule-call .red-btn {
   padding: 10px 18px;
   margin: 0;
}
.know-more .small {
   margin-bottom: 20%;
}
.know-more-btn {
   color: var(--main-primary2);
   text-decoration: underline;
}
.know-more-btn:hover {
   text-decoration: none;
}

.slideshow-wrapper {
   align-self: stretch;
   /* margin-bottom: 3.5%; */
   /* margin-top: -15%; */
}

/* -- annuity --*/

.annuity-io-container {
   grid-template-columns: 1.6fr 1.5fr !important;
}
.annuity-output {
   width: 115%;
}
.annuity-results-table {
   min-width: 0 !important;
}
.result-table td,
.result-table th {
   padding: 9px 26px 9px 16px;
   border-radius: 4px;
   background-color: white;
}
.result-table td:nth-child(2n) {
   color: var(--text-secondary1);
}
#orange-text {
   color: var(--text-secondary1) !important;
}
.result-table table {
   text-align: left;
   font-size: 1.1em;
   border-spacing: 5px;
}
.result-table-header td {
   color: white !important;
   background-color: var(--text-primary1) !important;
}
.result-table-header td:nth-child(2) {
   padding: 10px 2.5em 10px 1em!important;
}

.result-table tr:nth-child(2) td {
   background-color: rgba(255, 255, 255, 0.74) !important;
   color: var(--text-primary1) !important;
}

/* --- results page --- */

.io-container {
   display: grid;
   grid-template-columns: 1.3fr 1fr;
   margin: 1.5em 0;
}
@media screen and (max-width: 1215px) {
   .splash-screen img {
      margin-bottom: 9%;
   }
   .bottom .assumptions {
      width: 50% !important;
   }
   .annuity-output {
      width: 100%;
   }
   .w-100 {
      width: 650px !important;
   }
   .results-table-container {
      overflow-x: auto;
   }
   /* .results-table {
      width: 600px;
   } */
   .io-container {
      /* display: block; */
      grid-template-columns: 1fr !important;
      grid-template-rows: 0.7fr 1fr !important;
   }
   .annuity-io-container {
      grid-template-rows: 1.2fr 1fr !important;
   }
   .nw-io-container {
      grid-template-rows: 0.54fr 1fr !important;
   }
   .refi-io-container {
      grid-template-rows: 1.3fr 1fr !important;
   }
   .retirement-io-container {
      grid-template-rows: 0.85fr 1fr !important;
   }
   section.output,
   section.input {
      margin: 0em 0 0 0 !important;
      /* width: 600px; */
   }
   section.output {
      padding-left: 0 !important;
      order: 1;
      border: none !important;
   }
   section.input {
      /* min-width: 600px; */
      order: 2;
      overflow-x: auto;
   }
   .share-btn-grp {
      display: none;
   }
   .share-btn-grp2 {
      display: block;
   }
   .refi-assumptions {
      margin-top: 2em !important;
   }
}

/* -------------- media end ---------------- */
/* .io-container > section {
   overflow-x: auto;
} */
section.input {
   margin-right: 2em;
}
section.output {
   padding-left: 1.8em;
   /* box-shadow: -15px 0 0 1px 1px #C4C4C4; */
   border-left: 2px solid #c4c4c4;
}
.results-table-container {
   /* text-align: left; */
   font-size: 0.6em;
}
.results-table-container input {
   width: 85%;
   /* margin: 2px -20px; */
   background-color: transparent;
}
input:focus {
   border: none;
   border-radius: 4px;
}
.results-table-container input::placeholder {
   font-size: 0.9em;
}
.w-100 {
   width: 100%;
}
.results-table {
   /* remove defaults */
   min-width: 600px;
   border-spacing: 6px;
   text-align: left;
}
.results-table td {
   background-color: rgba(255, 255, 255, 0.74);
   border-radius: 4px;
   --backdrop-filter: blur(10px);
}
/* .results-table tr td:first-child {
   padding: 10px 2.5em 10px 1em;
   text-align: left;
} */
/* .refi-io-container .results-table tr:first-child td {
   padding: 0!important;
} */
/* .results-table tr:first-child td {
   padding: 10px 2.5em 10px 1em!important;
   text-align: left;
} */
.results-table tr:nth-child(2) {
   margin-top: 1em; /*not working*/
}
.results-table tr:nth-child(2) td,
.io-container h4,
.nw-table tr:first-child td {
   background-color: var(--text-primary1);
   color: white;
}
.results-table tr:first-child input {
   width: 95%;
}
/* .fna-results-table tr:nth-child(2) td, */
/* .fna-results-table tr td:first-child:not(tr:first-child){
   padding: 10px 2.5em 10px 1em;
}
.fna-results-table tr:nth-child(2) td{
   padding: 0 1em 0 1em;
} */
.results-table tr td:first-child:not(tr:first-child){
   padding: 10px 2.5em 10px 1em;
}
.results-table tr:nth-child(2) td{
   padding: 0 1em 0 1em;
}
.io-container h4 {
   font-size: 0.85em;
   border-radius: 4px;
   padding: 0.4em 0;
   font-weight: 300;
}

/* schedule-call */
.bottom .schedule-call .small,
.bottom .know-more .small,
.io-container .schedule-call .small,
.io-container .know-more .small,
.re-calc-btn {
   margin: 0;
}

.re-calc-btn {
   padding: 8px 30px;
   color: var(--text-primary1);
   border: 2px solid var(--text-primary1);
   background-color: transparent;
   transition: 0.28s ease all;
   margin: 2em 0;
}
.re-calc-btn:hover {
   color: white;
   border: 2px solid var(--text-primary1);
   background-color: var(--text-primary1);
}
.privacy-btn {
   font-size: 14px;
   font-family: "Gilroy-regular", "Verdana", "Times new roman";
}

.bottom .schedule-call .small,
.bottom .know-more-btn,
.io-container .schedule-call .small,
.io-container .know-more-btn {
   margin: 1.3em 0 0.5em 0;
}
.bottom .schedule-call .small,
.io-container .schedule-call .small {
   margin-bottom: 1em;
}

.output-header {
   background-color: var(--main-primary3) !important;
   width: 90%;
   margin: 0 auto;
}
.re-enter {
   border-color: var(--main-primary3);
   color: var(--main-primary3);
}
.re-enter:hover {
   border-color: var(--main-primary3);
   background-color: var(--main-primary3);
   color: white;
}
.result,
.assumptions {
   border-radius: 6px;
   background: white;
}
.output .result {
   margin: 2em auto;
   width: 65%;
   padding: 5em 2em;
   /* border: 1px solid brown; */
}

/* .output .calculated-result {
   transform: none;
   margin: 0;
} */
.assumptions {
   text-align: left;
   padding: 2em 3em;
   margin: 0 auto;
   width: 68%;
   box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
}
.assumptions span {
   display: inline-block;
   font-family: "Gilroy-Bold", "Verdana", "Times New Roman";
   color: var(--text-secondary2);
   margin: 0 0 0.8em -1em;
}
/* net worth */
.nw-table-container {
   display: block;
}
.nw-table {
   width: 750px;
   font-size: 0.7em;
   text-align: left;
}
.nw-table tr:first-child td {
   padding: 10px 2.5em 10px 1em;
   position: relative;
}
.nw-table tr:first-child td:nth-child(2)::after,
.nw-table tr:first-child td:nth-child(3)::after {
   position: absolute;
   content: url(../media/images/alert-circle.svg);
   top: 17%;
   right: 6%;
   transform: scale(0.8);
}
.nw-table tr:nth-child(2) td {
   background-color: rgba(255, 255, 255, 0.74);
   color: var(--main-primary1);
}
.nw-results-table {
   width: 100%;
   font-size: inherit;
}

.refi-output-table tr:first-child td {
   background-color: var(--main-primary3) !important;
   color: white !important;
}

.refi-output {
   width: 100%;
   overflow: hidden;
}
.refi-io-container {
   grid-template-columns: 1fr 1.3fr;
}
.refi-io-container .w-100 {
   width: 86%;
}
.refi-io-container .results-table tr td:first-child {
   padding: 10px 0.5em 10px 0.9em;
   text-align: left;
}
/* .ammortization-table{
} */
/* .ammortization-table-container{
   margin-bottom: 0.8em;
   transition: 1s ease all;
} */
.ammortization-btn {
   background-color: var(--main-primary1);
   margin: 1.3em auto;
}
.ammortization-btn:hover {
   background-color: #001455;
}

.ammortization-table td {
   font-size: 0.84em;
   padding: 9px 13px;
}
.ammortization-table td:not(:first-child) {
   color: var(--text-primary1) !important;
}

.editable-results-table tr td:nth-child(2) {
   width: 30%;
   padding: 0;
}
.editable-results-table tr td:nth-child(2) input {
   width: 90%;
   padding: 8px 1em;
}
.editable-results-table tr td:nth-child(2) input::placeholder {
   font-family: "Gilroy-Bold";
   font-size: 1.1em;
   color: var(--text-secondary1);
}
.refi-assumptions {
   margin-top: 1em;
}

/* index */
.index-container {
   background-color: var(--text-secondary3);
}

/* retirement */
.orange-header td {
   background-color: var(--main-primary3) !important;
}
.retirement-page4 .input-fields {
   width: 60%;
   margin: 0.5em auto 2.5em auto;
   text-align: right;
   margin-right: 26vw;
}
.retirement-page4 .input-fields > div {
   position: relative;
}
.retirement-page4 .input-fields > div::after {
   position: absolute;
   content: url(../media/images/alert-circle2.svg);
   top: 12%;
   right: -3.5%;
   /* transform: scale(0.8); */
}
.bottom {
   text-align: center;
   margin-bottom: 3em;
}
.bottom .schedule-call {
   margin-top: 3em;
}
.bottom .assumptions {
   width: 40%;
}

/* college */
.college-output{
   width: 105%;
}

/* ---breakpoints--- */
@media screen and (max-width: 1340px) {
   .navigation {
      display: none;
   }
   .hamburger {
      display: inline-block;
   }
}

/* mobile */
@media screen and (max-width: 610px) {
   .splash-screen img {
      margin-bottom: 12%;
   }
   .content-container{
      min-height: 76vh;
   }
   .output-header {
      width: 100%;
   }
   .annuity-io-container {
      grid-template-rows: 1.1fr 1fr !important;
   }
   .nw-io-container {
      grid-template-rows: 0.54fr 1fr !important;
   }
   .retirement-io-container {
      grid-template-rows: 0.75fr 1fr !important;
   }
   .loader {
      width: 99%;
      margin: 6% 0 7% 0%;
   }
   .progress-percentage {
      width: 18px;
      height: 18px;
      left: 90%;
   }
   nav {
      max-width: 100%;
   }
   .brand-text {
      font-size: 19.74px;
   }
   .brand-image {
      width: 34px;
   }
   input {
      width: 40%;
      padding: 8px 0px;
      padding-left: 10px;
   }
   .table input {
      width: 100%;
   }
   select {
      padding: 8px 31px 8px 11px !important;
   }
   .input-fields {
      line-height: 50px; /*63px*/
   }
   ::placeholder {
      font-size: 12px;
      color: var(--text-secondary3);
   }
   .calculated-result {
      font-size: 33px; /*54px*/
   }
   .bottom .assumptions {
      width: 60% !important;
   }
   :root {
      --font-main: 18px; /*24*/
      --font-buttons: 16px; /*19*/
      --font-headings: 24px; /*36*/
      --font-17: 14px;
   }
}
