:root {
   --footer-font: 12px;
   --warning-font: 11px;
   --w-header: 22px;
}

* {
   box-sizing: border-box;
   /* border: 1px solid red; */
}
.w-100 {
   width: 100% !important;
}
.wealthsurance-header,
.page-heading {
   font-weight: 300;
}
.content-container {
   /* border: 1px solid red; */
   position: initial;
   width: 80%;
   margin: 0 auto;
}
body {
   background-color: white;
   background-image: none;
}
.pdf-io-container {
   display: block;
   margin: 0;
}

.pdf-io-container .output .result,
.assumptions,
.output-header,
.wealthsurance-header {
   width: 100%;
}
.pdf-io-container .output {
   padding: 0;
   border: none;
   margin-top: 20em !important;
}
.pdf-io-container .input {
   margin: 0;
}
.calculated-result {
   opacity: 1;
   transform: translate(0);
}
.output .result {
   padding: 2em 2em;
}
.assumptions {
   box-shadow: none;
   padding-top: 0;
   margin-bottom: 4em;
}
.calculator-title {
   margin: 1.5em auto 1em auto;
}

footer {
   width: 100vw;
   margin: 0 auto;
   left: 0;
   right: 0;
   /* left: 0.5%; */
   position: absolute;
   line-height: 30px;
   font-family: "Gilroy-medium";
   /* font-family: "Gilroy-bold"; */
   /* font-weight: 600; */
   font-size: var(--footer-font);
   /* padding: 1.5em 2em 1em 4em; */
   padding: 3.5em 11em 3em 11em;
   background: url("/media/images/wealthsurance_bg.png") center no-repeat;
   background-size: cover;
   /* background-size: 110%; */
   /* background-position: 52% 53%; */
}
footer section {
   display: grid;
   grid-template-columns: 0.8fr 1.4fr 0.8fr;
   justify-content: space-between;
   align-items: flex-end;
}

.a-right {
   text-align: right;
}
.a-right,
.a-left {
   font-size: 1.1em;
   /* font-weight : 900; */
}
.a-center {
   color: #8b8b8b;
   position: relative;
   top: 26%;
}
.a-left {
   text-align: left;
}
.wealthsurance-header {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   text-align: right !important;
   font-size: var(--w-header);
}

.wealthsurance-header img {
   /* width: 2.44%; */
   display: inline-block;
   width: 2.84%;
   margin-right: 4px;
   margin-bottom: 1px;
}

.disclaimer-text {
   /* color: rgba(0, 0, 0, 0.842); */
   color: var(--text-primary2);
   font-size: var(--warning-font);
   font-family: "Gilroy-medium";
   text-align: left;
   width: 88%;
   margin: 3em auto;
}

.footer-1{
   margin-top: 9.2em;
}

.footer-2{
   margin-top: 24.8em;
}