:root {
   --footer-font: 12px;
   --warning-font: 11px;
   --w-header: 22px;
}

* {
   box-sizing: border-box;
   /* border: 1px solid red; */
}
.w-100 {
   width: 100% !important;
}
.wealthsurance-header,
.page-heading {
   font-weight: 300;
}
.content-container {
   /* border: 1px solid red; */
   position: initial;
   width: 80%;
   margin: 0 auto;
}
body {
   background-color: white;
   background-image: none;
}
.pdf-io-container {
   display: block;
   margin: 0;
}

.pdf-io-container .output .result,
.assumptions,
.output-header,
.wealthsurance-header {
   width: 100%;
}
.pdf-io-container .output {
   padding: 0;
   border: none;
   margin-top: 20em !important;
}
.pdf-io-container .input {
   margin: 0;
}
.calculated-result,
.calculated-result-2 {
   opacity: 1;
   transform: translate(0);
}
.output .result {
   padding: 2em 2em;
}
.assumptions {
   box-shadow: none;
   padding-top: 0;
   margin-bottom: 4em;
}
.calculator-title {
   margin: 1.5em auto 1em auto;
}

footer {
   width: 100vw;
   margin: 0 auto;
   left: 0;
   right: 0;
   position: absolute;
   line-height: 30px;
   font-family: "Gilroy-medium";
   font-size: var(--footer-font);
   padding: 3.5em 11em 3em 11em;
   background: url("../media/images/wealthsurance_bg.png") center no-repeat;
   background-size: cover;
}
footer section {
   display: grid;
   grid-template-columns: 0.8fr 1.4fr 0.8fr;
   justify-content: space-between;
   align-items: flex-end;
}

.a-right {
   text-align: right;
}
.a-right,
.a-left {
   font-size: 1.1em;
   /* font-weight : 900; */
}
.a-center {
   color: #8b8b8b;
   position: relative;
   top: 26%;
}
.a-left {
   text-align: left;
}
.wealthsurance-header {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   text-align: right !important;
   font-size: var(--w-header);
}

.wealthsurance-header img {
   /* width: 2.44%; */
   display: inline-block;
   width: 2.84%;
   margin-right: 4px;
   margin-bottom: 1px;
}

.disclaimer-text {
   /* color: rgba(0, 0, 0, 0.842); */
   color: var(--text-primary2);
   font-size: var(--warning-font);
   font-family: "Gilroy-medium";
   text-align: left;
   width: 88%;
   margin: 3em auto;
}

.footer-1{
   margin-top: 9.2em;
}

.footer-2{
   margin-top: 24.8em;
}


/* --- Term insurance --- */

/* where .term-container is the class assigned to the container (see termInsurance.html) */
.term-container .footer-1{
   margin-top: 6.2em;
}
.term-container .footer-2{
   margin-top: 9.8em;
}

/* --- annuity --- */

.annuity-container .footer-1, .annuity-container .output{
   margin-top: 53.5em!important;
}



/* --- networth --- */

.net-container .footer-1{
   margin-top: 8.5em;
}
.net-container .footer-2{
   margin-top: 20.3em;
}

.legend,#nw-chart_div,#hAxis-label,#toggle_modal_chart{
   display: none!important;
}
#nw-result-container{
   min-height: 585px;
}


/* retirement */

.retire-container .footer-3{
   top: 187.3%;
}
.retire-container .result{
   margin-bottom: 40em;
}
.retire-container .footer-2{
   margin-top: 40em;
}
.retire-container .footer-1, .retire-container .output{
   margin-top: 16em!important;
}

/* .retire-container .footer-2{
   margin-top: 7.8em;
} */
.retire-container .output{
   margin-top: 18em!important;
   
}

.retire-output .legend-text{
   right: 44.5%;
} 
.overflowing-container{
   margin-bottom: 7em;
}

/* refi */
.refi-container .assumptions{
   margin-top: 6em;
}

/* mortgage */

.footer-3{
   top: 188.5%
}
.mortg-container .footer-2{
   margin-top:30.4em
}
.mortg-container #graph{
   margin-bottom: 10em;
}
.mortg-container .footer-1, .mortg-container .output{
   margin-top: 39.8em!important;
}

.mortg-container .output .d-none{ 
   display: block!important;
}
.mortg-container .small-title{
   margin-left: 2em;
}


/* --- college --- */
.college-container .footer-1,
.college-container .output{
   margin-top: 38.5em!important;
}
.college-container .footer-2{
   margin-top: 11.3em;
}
/* .college-container .output{
   margin-top: 30em;
} */